## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
pow(7,4)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [5]:
s="Hi there Sam!"
s.split()

['Hi', 'there', 'Sam!']

In [59]:
s="Hi there dad!"
s.split()

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [4]:
t='The diameter of {planet} is {diameter} kilometers'
print(t.format(planet="Earth",diameter=12742))

The diameter of Earth is 12742 kilometers

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [9]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [14]:
lst[3][1][2][0]

'hello'

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [5]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [12]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

list is mutable but
tuple is immutable

In [17]:
lst=[1,2,3]
lst[2]

3

In [14]:
lst[2]=4

In [16]:
lst

[1, 2, 4]

In [18]:
tpl=(1,2,3)
tpl[2]

3

In [19]:
try:
  tpl[2]=4
except:
  print("Tuple is immutable")

Tuple is immutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [21]:
def fun(strings):
  for i in range (len(strings)):
    if(strings[i]=='@'):
      x=strings[i+1:]
      print(x)
fun("mani@mail.com")

mail.com

In [22]:
fun('user@domain.com')

domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [39]:
def dog_finder(strings):
  if 'dog'or'Dog'or'DOG' in strings:
    return True
  else:
    return False

In [40]:
q=dog_finder('I have a Dog')
print(q)
q1=dog_finder('I don\'t have a dog')
print(q1)

True
True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [42]:
def dog_counter(strings):
  count1=strings.count('dog')
  count2=strings.count('Dog')
  count3=strings.count('DOG')
  return count1+count2+count3

In [43]:
x='dog Dog'
dog_counter(x)

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [24]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [26]:
caught_speeding(86,True)

'Big Ticket'

In [27]:
caught_speeding(85,True)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [47]:
salary=[20000,30000,25000,28000,26000]
x=0
for i in salary:
  x=x+i
print(x)

129000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [56]:
dict1={"Empid": 34,
       "Empname": "Micha",
       "Basicpay": 25000
       }
dict2={
       "DeptName":"IT",
       "DeptId":2050
      }

In [57]:
new_dict={**dict1,**dict2}

In [58]:
new_dict

{'Empid': 34,
 'Empname': 'Micha',
 'Basicpay': 25000,
 'DeptName': 'IT',
 'DeptId': 2050}